{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center bg-primary">Book {{ play_ground.name }}</h1>
<div class="card-body" >
      <div class="row justify-content-md-center ">
        <div class="col-md-auto border border-primary" style="padding: 20px 50px ">
          
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book</button>
  </form>
  {% if messages %}
      {% for message in messages %}
          {% if message.tags == 'success' %}
              <p class="messages alert alert-success" >{{ message }}</p>
          {% endif %}
          {% if message.tags == 'error' %}
              <p class="messages alert alert-danger" >{{ message }}</p>
          {% endif %}
      {% endfor %}
  {% endif %}
  </div>
      
      </div>
    </div>
{% endblock %}
