{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center bg-primary">Confirm Communitycenter Delete</h2>
<div class="card-body" >
      <div class="row justify-content-md-center ">
        <div class="col-md-auto border border-primary" style="padding: 20px 50px ">
          
  <p>Are you sure you want to delete the following communitycenter?</p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ communitycenter.name }}</td>
        <td>{{ communitycenter.capacity }}</td>
        <td>{{ communitycenter.address }}</td>
      </tr>
    </tbody>
  </table>
  <form action="{% url 'communitycenter_delete' communitycenter.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm">
    <a href="{% url 'communitycenter_list' %}">Cancel</a>
  </form>
  </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p class="messages alert alert-success" >{{ message }}</p>
                {% endif %}
                {% if message.tags == 'error' %}
                    <p class="messages alert alert-danger" >{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
      
      </div>
    </div>
{% endblock %}
